body {
    font-family: "Roboto", sans-serif;
    background: #868d8c;
    /*background: linear-gradient(180deg, #8d8686, #fff);*/
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

form {
    max-width: 700px;
    width: 70%;
    margin: 30px auto;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

.formField {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box; /* Ensure consistent box model */
}

input,
select {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

input::placeholder {
    color: #ddd;
}

button {
    background-color: #5f4dff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1a1455;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #5f4dff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}